.bg-light-color {
    background-color: rgb(116, 160, 125);
}
.bg-lightgrey-color {
    background-color: rgb(185, 185, 185);
}
.bg-dark-color {
    background-color: rgb(34, 39, 43);
}
.bg-darkblue-color {
    background-color: rgb(41, 75, 107);
}
.btn-menu-panel {
    color: rgb(26, 35, 28);
    font-size: 28px;
    border-bottom: 3px solid rgb(26, 35, 28);
}
.btn-menu-panel:hover{
    border-bottom: 3px solid transparent;
    cursor: pointer;
    color: white;
}
.btn-menu-panel:active{
    border: none;
    color: white;
}
.bg-primary-color {
    background-color: rgb(219, 136, 48);
}
.bg-white {
    background-color: rgb(255, 255, 255);
}
.required-color {
    color: #bf310a;
}
.light-color {
    color: white;
}
.btn-primary {
    color: black;
    border: 0;
    background-color: rgb(219, 136, 48);
}
.btn-primary:hover {
    background-color: rgb(55, 63, 70);
    color: white;
}
.btn-link {
    color: #479ceb;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
}
.group-up-logo{
    flex-grow: 4;
}
.sign-up-button{
    flex-grow: 1;
}
.login-button{
    flex-grow: 1;
}
.flex-container {
    display: flex;
    justify-content: flex-end;
    gap: 100px
}
.placeholder-img {
    max-width:300px;
    max-height:300px;
}
.response-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9; /* Light background for distinction */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.response-card h3 {
    margin-bottom: 10px;
    color: #333;
}
.response-card p {
    margin: 5px 0;
    color: #555;
}
.response-card .form-check {
    margin-left: 20px;
}
hr {
    border-top: 2px solid white;
}
button {
    background-color: transparent;
    border: none;
}
#divHeaderBar {
    height: 15vh;
}
#divMenuPanel {
    height: 85vh;
}
/* remove view height setting at med or smaller */
@media (max-width: 991.98px) {
    #divMenuPanel {
        height: auto;
        display: none;
    }
}
#divLandingPageHeaderBar {
    height: 15vh;
}
#ftLandingPageFooter {
    height: 15vh;
}
#divDashboard {
    overflow-y:auto;
    height: 85vh;
}
#iconHamburger {
    color: white;
    font-size: 60px;
}
#btnBackButton {

    color: white;
    background-color: black;

}
.question-container {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.question-container h4 {
    margin-bottom: 10px;
    color: #333;
}

.form-check {
    margin-left: 20px;
}
