.bg-light-color {
    background-color: rgb(116, 160, 125);
}
.bg-lightgrey-color {
    background-color: rgb(185, 185, 185);
}
.bg-dark-color {
    background-color: rgb(34, 39, 43);
}
.bg-darkblue-color {
    background-color: rgb(41, 75, 107);
}
.bg-primary-color {
    background-color: rgb(219, 136, 48);
}
.bg-white {
    background-color: rgb(255, 255, 255);
}
.required-color {
    color: #bf310a;
}
.light-color {
    color: white;
}
.btn-primary {
    color: black;
    border: 0;
    background-color: rgb(219, 136, 48);
}
.btn-primary:hover {
    background-color: rgb(55, 63, 70);
    color: white;
}
.btn-link {
    color: #479ceb;
}


.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
}
.group-up-logo{
    flex-grow: 4;
}
.sign-up-button{
    flex-grow: 1;
}
.login-button{
    flex-grow: 1;
}
.flex-container {
    display: flex;
    justify-content: flex-end;
    gap: 100px
}
.placeholder-img {
    max-width:300px;
    max-height:300px;
}
hr {
    border-top: 2px solid white;
}
#divHeaderBar {
    height: 15vh;
}
#divSideBar {
    height: 100vh
}
#divLandingPageHeaderBar {
    height: 15vh;
}
#ftLandingPageFooter {
    height: 15vh;
}
